@import 'src/assets/scss/variable.scss';

.left-nav{
    padding: 1rem;
    position: sticky;
    top: 4.5rem;
    overflow-y: scroll;
    max-height: 100vh;
    font-size: $fontSizeApp;
    .label{
        font-weight: 600;
        font-size: $fontSizeSubHeading;
    }
    @media screen and (max-width:576px) {
        position: absolute;
        top:0;
        left: 0;
        z-index: 1;
        display: none;
        background-color:  $footerBackground;
        .close{
            float: right;
        }
    }
}

.showNav{
    display: block;
}