@import "src/assets/scss/variable.scss";

div.footer{
    background-color: $footerBackground;
    padding: 2rem;
    .footer-wrapper{
        .subHeader{
            font-weight: 600;
            padding-top: 1rem;
        }
        .item-list{
            display: block;
            color: inherit;
            cursor: pointer;
            text-decoration: none;
            padding: 0.25rem 0;
        }
        .item-list:hover{
            color: $primaryColor1;
        }
    }
}