<app-banner></app-banner>
<div clas="container-fluid">
    <div class="dashboard-content row">
        <div class="left-nav-wrapper col-sm-2">
           <app-left-nav></app-left-nav>
        </div>
        <div class="middle-content col-sm-10">
            <div class="row" *ngIf="productList?.length; else noRecordFound">
                <div *ngFor="let product of productList" class="col-6 col-sm-3">
                    <app-product [product]="product"></app-product>
                </div>
            </div>
            <ng-template #noRecordFound>
                <p class="no-record-found">No items found in the catalog. Please search with another keyword or contact with our customer care executive</p>
            </ng-template>
        </div>
    </div>
</div>