<div class="banner-wrapper">
    <img src="{{sliderImages[currentImageIndex]}}">
    <mat-icon class="banner-arrow left" (click)="onClickLeft()">keyboard_arrow_left</mat-icon>
    <mat-icon class="banner-arrow right" (click)="onClickRight()">keyboard_arrow_right</mat-icon>
    <span class="images-dot">
        <mat-icon *ngFor="let current of sliderImages; let i = index"
         [ngClass]="{'primaryColor': i==currentImageIndex}"
         (click)="currentImageIndex=i">fiber_manual_record</mat-icon>
    </span>
</div>