@import "src/assets/scss/variable.scss";
@import "src/assets/scss/fonts.scss";
@import "src/assets/scss/material.scss";
body{
    box-sizing: border-box;
    overflow-x: hidden;
    ::selection{
        background: none;
    }
    font-family:"Helvetica", Roboto, "Helvetica Neue", sans-serif ,"moon dance"!important;
    font-size: $fontSizeApp!important;
}
html{
    font-size: 62.5%;
}
// body { margin: 0;  }
