@import "src/assets/scss/variable.scss";
.navigation{
 text-align: right;
 .nav-item{
    display: inline-block;
    margin: .85rem;
    cursor: pointer;
    color: $white;
 }
 .nav-item:hover{
     opacity: 0.85;
 }
}

.row.header{
    background-color: $primaryColor1;
    padding: 0.5rem 1rem;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 9;
    font-size: $fontSizeSubHeading;
}

.logo{
    width: 10%;
    display: inline-block;
    img{
        width: 100%;
        max-width: 50px;
        border-radius: 50px;
        cursor: pointer;
    }
}

div.search-box {
    display: inline-block;
    position: relative;
    width: 80%;
    input{
        outline: none;
        border: none;
        border-radius: 10px;
        width: 100%;
        margin: 0 2rem;
        padding: 6px 34px;
        width: 100%;
    }
    .search-icon{
        color:$primaryColor1;
        position: absolute;
        left: 40px;
        top: 4px;
    }

}
