@import "src/assets/scss/variable.scss";
.navigation{
 text-align: right;
 .nav-item{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    color: $white;
 }
 .nav-item:hover{
     opacity: 0.85;
 }
}

.row.header{
    background-color: $primaryColor1;
    padding: 0 1rem;
    align-items: center;
}

img.logo{
    height: 50px;
    cursor: pointer;
}